{% extends 'app/base.html'  %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}


{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
{% endblock %}

{% block contenido %}

<h2> CONTACTENOS </h2>
<form action="" class="formulario_contacto" method="post">
    <!--TOKEN DE SEGURIDAD, DEBE ESTAR PRESENTE PARA RESCATAR LOS DATOS-->
    {% csrf_token %}

    {{ form }}          
    <br>
    <div class="d-flex justify-content-end">
        <input type="reset" value="Cancelar" class= "btn btn-secondary">
        &nbsp
        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
    </div>
    
            

<!--revisa el error del mensaje problemas en el models con el views-->
</form>
{{ mensaje }}

{% endblock %}
